/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 0.8rem;
}

nav ul li {
  margin: 5px;
}

ul {
  list-style: none;
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 15px;
  flex-basis: 20%;
}

aside img {
  width: 40vh;
  height: auto;
  margin-bottom: 10px;
}

aside div {
  display: flex;
  justify-content: center;
}

aside div img {
  margin: 10px;
  width: 30vh;
}

aside p {
  font-size: 0.8rem;
}

aside h2, p, hr {
  margin-bottom: 10px;
}

section {
  flex-basis: 80%;
}

article {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 15px;
}

article h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

article img {
  border-radius: 80%;
  width: 20vh;
  height: 7vw;
  margin-bottom: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #4caf50;
  color: white;
  font-size: 0.8rem;
}

footer div a {
  text-decoration: none;
  color: white;
}
